
 {{ form_start(form,{'attr': {'novalidate': 'novalidate'}}) }}
    <table>
        <tr>
            <td class="text-black">{{ form_label(form.fullname,"Full name :") }}</td>
            <td>{{ form_widget(form.fullname) }}</td>
            <td class="text-black">{{ form_errors(form.fullname) }}</td>
        </tr>
        <tr>
             <td class="text-black">{{ form_label(form.email,"Email :") }}</td>
             <td>{{ form_widget(form.email) }}</td>
             <td class="text-black">{{ form_errors(form.email) }}</td>
        </tr>
        <tr>
            <td class="text-black">{{ form_label(form.username,"Username :") }}</td>
            <td>{{ form_widget(form.username) }}</td>
            <td class="alert">{{ form_errors(form.username) }}</td>
        </tr>
        <tr>
            <td class="text-black">{{ form_label(form.naissance,"Birthday:") }}</td>
            <td>{{ form_widget(form.naissance ) }}</td>
            <td class="text-black">{{ form_errors(form.naissance) }}</td>
        </tr>
        <tr>
            <td class="text-black">{{ form_label(form.naissance,"Image:") }}</td>
            <td>{{ form_widget(form.image ) }}</td>
            <td class="text-black">{{ form_errors(form.image) }}</td>
        </tr>
        
        
    </table>
    <div class="nk-gap-2"></div>
<button class="nk-btn nk-btn-rounded nk-btn-color-white" type="submit">
<span>Update</span>
        <span class="icon"><i class="ion-paper-airplane"></i></span></button>
    {{ form_end(form) }}