


{% extends 'base_BACK.html.twig' %}
{% block body %}


    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ categorie_produit.id }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ categorie_produit.type }}</td>
            </tr>
            <tr>
                <th>Reference</th>
                <td>{{ categorie_produit.reference }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_categorie_produit_index') }}">back to list</a>

    <a href="{{ path('app_categorie_produit_edit', {'id': categorie_produit.id}) }}">edit</a>

    {{ include('categorie_produit/_delete_form.html.twig') }}
{% endblock %}
