{% extends 'base_BACK.html.twig' %}
    {% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    <h1 class="text-main-1" >Add a product</h1>

    {{ form_start(form,{'attr': {'novalidate': 'novalidate'}}) }}
    <table>
        <tr>
            <td class="text-black">{{ form_label(form.reference,"reference :") }}</td>
            <td>{{ form_widget(form.reference) }}</td>
            <td class="text-black">{{ form_errors(form.reference) }}</td>
        </tr>
       
    </table>
    {{ include('produit/_form.html.twig') }}
    {{ form_end(form) }}
{% endblock %}
