<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	
	<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    {% block stylesheet %}
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="{{ asset('BackOffice/Table_User/css/style.css')}}">
    {% endblock %}
</head>
<body>
	
		<div class="container">
        
        <h1>Users Table </h1>
			<br>
			<br>    
 
    <a href="{{ path('bymail') }}" class="nk-btn nk-btn-rounded nk-btn-color-white"  >
                            <span>Sort By Mail</span>
                            <span class="icon"><i class="ion-paper-airplane"></i></span>
                    </a>
    <a href="{{ path('listUserVerified') }}" class="nk-btn nk-btn-rounded nk-btn-color-white"  >
                            <span>Sort By Verification</span>
                            <span class="icon"><i class="ion-paper-airplane"></i></span>
                    </a>
    <a href="{{ path('listUserBanned') }}" class="nk-btn nk-btn-rounded nk-btn-color-white"  >
                            <span>Sort By Ban Status</span>
                            <span class="icon"><i class="ion-paper-airplane"></i></span>
                    </a>
			<table class="table">
				<thead>
					<tr>
						<th>User</th>
                        <th>Verification Status</th>
                        <th>Ban Status</th>
                        <th>Role</th>
                        <th>Email</th>
                        <th>Password</th>
                        
                        <th>Naissance</th>
						<th>Actions</th>
					</tr>
				</thead>
				<tbody>
                {% for user in pagination %}
					<tr>
						<td>
							<div class="user-info">
								<div class="user-info__img">
									<img src="{{ asset('BackOffice/Table_User/img/user1.jpg')}}" alt="User Img">
								</div>
								<div class="user-info__basic">
									<h5 class="mb-0">{{ user.fullname }}</h5>
									<p class="text-muted mb-0">{{ user.username }}</p>
								</div>
							</div>
						</td>
						<td>
                            {% if user.isVerified  %}
							<span class="active-circle bg-success"></span> Verified
                            {% else %}
                            <span class="active-circle bg-danger"></span> Not Verified
                            {% endif %}
						</td>
                        <td>
                            {% if not user.isBanned  %}
							<span class="active-circle bg-success"></span> Not Banned
                            {% else %}
                            <span class="active-circle bg-danger"></span> Banned
                            {% endif %}
						</td>
						<td> {% if 'ROLE_ADMIN' in user.roles %}
                            {{"Administrateur"}}
                        {% else %}
                            {% if 'ROLE_COACH' in user.roles %}
                            {{"Coach"}}
                            {% else %}
                            {{"Utilisateur"}}
                            {% endif %}
                        {% endif %}</td>
						<td>{{ user.email }}</td>
                        <td>{{ user.password ? "**********" }}</td>
						<td>
							{{ user.naissance ? user.naissance|date('Y-m-d') : '' }}
						</td>
						<td>
							<div class="dropdown">
                                 <a href="#!" class="px-2" id="triggerId1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fa fa-ellipsis-v"></i>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="triggerId1">
                                    <a class="dropdown-item" href="{{ path('app_user_edit_roles', {'id': user.id}) }}"><i class="fa fa-pencil mr-1"></i> Edit Roles </a>
                                    {% if user.isBanned is not empty and user.isBanned %}



                                    <form method="post" action="{{ path('user_unban', {'id': user.id}) }}" onsubmit="return confirm('Are you sure you want to unban this User?');">
                                    <input type="hidden" name="_token" value="{{ csrf_token('unban' ~ user.id) }}">
                                    <button class="dropdown-item text-danger"><i class="fa fa-trash mr-1"></i>UnBan</button>
                                    </form>

                                    {% else %}

                                    <form method="post" action="{{ path('user_ban', {'id': user.id}) }}" onsubmit="return confirm('Are you sure you want to ban this User?');">
                                    <input type="hidden" name="_token" value="{{ csrf_token('ban' ~ user.id) }}">
                                    <button class="dropdown-item text-danger"><i class="fa fa-trash mr-1"></i>Ban</button>
                                    </form>
                                    {% endif %}
                                    
                                </div>
                            </div>

						</td>
					</tr>
                {% else %}
                    <tr>
                        <td colspan="10">no records found</td>
                    </tr>
                {% endfor %}
				
				</tbody>
			</table>
            {{ knp_pagination_render(pagination) }}
		</div>
	
	{% block script %}
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    {% endblock %}
</body>
</html>